<div class="chapter" id="css-h-1">
<h1>CSS</h1>

<p class="sidenote">HTML is the most popular document format on the
Web, and it is used in most of the examples in this book.</p>

<p>As we explained in <a class="chapref" href="html-h-1"><q>The Web and HTML,</q></a>HTML elements enable Web-page designers to mark up a document's structure. The HTML specification lists guidelines on how browsers should display these elements. For example, you can be reasonably sure that the contents of a <span class="element">strong</span> element will be displayed as boldfaced. Also, you can pretty much trust that most browsers will display the
content of an <span class="element">h1</span> element using a big font
size &ndash; at least bigger than the <span class="element">p</span>
element and bigger than the <span class="element">h2</span> element.
But beyond trust and hope, you don't have any control over your text's
appearance.</p>

<div class="sidebar" id="specs">
<h2 class="no-toc">CSS specifications</h2>

<p>Cascading Style Sheets is formally described in three W3C
specifications: CSS1, CSS2, and CSS 2.1. (As discussed in the
previous chapter, W3C is the organization that coordinates the
technical development of the Web.) The first specification, CSS1,
was issued in December 1996 and describes a simple style sheet
language mostly for screen-based presentations. CSS1 has around 50
properties (for example, <span class="property">color</span> and
<span class="property">font-size</span>). CSS2 was finalized in May
1998 and builds on CSS1. CSS2 includes all CSS1 properties and adds
around 70 of its own, such as properties to describe aural
presentations and page breaks.
</p>

<p>CSS 2.1 is the most recent specification published by W3C. It
adds some new features, but CSS 2.1 is mostly a scaled-down version
of CSS2. CSS2 was an ambitious attempt to describe functionality,
which Web authors had requested. However, not all the functionality
is reliably supported by all browsers. CSS 2.1 is a specification
that describes the parts that <em>are</em> supported by two or
more browsers. Because CSS 2.1 is similar to CSS2, the
specification was given a minor version number (that is, 2.1)
rather than a major number (such as CSS3).</p>
</div>

<div class="section" id="rules">

<h2>Rules and Style Sheets</h2>

<p>You can create style sheets in two ways. You can either use a
normal text editor and write the style sheets <q>by hand</q> or you
can use a dedicated tool &ndash; for example, a Web authoring tool.
The dedicated tools enable you to create style sheets without learning
the syntax of the CSS language. However, in many cases, the designer
wants to tweak the style sheet by hand afterwards, so we recommend
that you learn to write and edit CSS by hand. Let's get started! Here
is a simple example:</p>

<pre class="CSS">
h1 { color: green }
</pre>

<p>This code is a simple CSS rule that contains one rule. A <dfn id="dfn-rule">rule</dfn> is a statement about one stylistic aspect of one or more elements. A <dfn id="dfn-style-sheet">style sheet</dfn> is a set of one or more rules that apply to an HTML document. This rule sets the color of all first-level headings (<span class="element">h1</span>).</p>


<div class="table">

<p class="caption">HTML extension elements and their CSS equivalent.</p>
<table class="lined">
<thead>
<tr>
<th>Element</th>
<th>CSS equivalent</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>&lt;tt&gt;</code></td>
<td><span class="css">font-family: monospace</span></td>
</tr>
<tr>
<td><code>&lt;i&gt;</code></td>
<td><span class="css">font-style: italic</span></td>
</tr>
<tr>
<td><code>&lt;b&gt;</code></td>
<td><span class="css">font-weight: bold</span></td>
</tr>
<tr>
<td><code>&lt;u&gt;</code></td>
<td><span class="css">text-decoration: underline</span></td>
</tr>
</tbody>
</table>

</div>

</div>

</div>
