<div class="preface" id="preface-h-1">

<h1>Preface</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tortor nisi, hendrerit eu pellentesque id, laoreet et ex. Curabitur sagittis rhoncus nisi, lobortis commodo urna facilisis varius. Cras sollicitudin sollicitudin pulvinar. Nunc et sem id dui efficitur feugiat. Morbi felis risus, mollis nec tortor vitae, cursus facilisis orci. Curabitur risus risus, mollis ac aliquet sit amet, fermentum sed orci. <span class="footnote">Phasellus id viverra ligula. Nam tincidunt mauris <em>vitae</em> felis scelerisque congue.</span> Nulla facilisi. Morbi tortor elit, luctus nec orci in, pellentesque ornare erat. Integer non vulputate urna, a condimentum mauris.</p>

<p>Fusce ornare consectetur iaculis. Vivamus at lorem et tellus efficitur bibendum. Vivamus purus lorem, hendrerit ut tristique id, fringilla euismod felis. Praesent quis massa maximus, porttitor sem sit amet, scelerisque massa. Nulla porta laoreet erat. Vivamus nec orci urna. Donec sed erat metus.</p>

<p>Nunc vitae maximus lectus. Phasellus et metus facilisis, convallis nibh nec, molestie est. Aenean a malesuada dolor. Fusce luctus dapibus dictum.</p>

<p class="author"><%= meta.author %><br /> Another name<br />November 2005</p>

</div>
