<div class="chapter" id="html-h-1">

<h1 style="counter-reset: page 1">The Web and HTML</h1>

<p class="sidenote">The box <a class="pageref" href="#specs">&ldquo;CSS Specifications&rdquo;</a> lists the different CSS specifications.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="section" id="the-web">

<h2>Donec sed erat metus</h2>

<p>Lorem <dfn id="dfn-ipsum">Ipsum</dfn> Fusce quis nibh ultricies, tincidunt justo quis, egestas velit. Aliquam nec dictum odio, at laoreet magna. Duis eget ex lacinia, gravida nisi ac, ultricies arcu. <dfn id="dfn-juggler">JUggler</dfn> is a predefined link between two documents. Vivamus nec orci urna. Donec sed erat metus. A <dfn id="dfn-simul">Simul</dfn> felis risus, mollis nec tortor vitae, cursus facilisis orci. Curabitur risus risus, mollis ac aliquet sit amet, fermentum sed orci.</p>

<%- include('./mainmatter/c1/s1-dev.md.mock.ejs'); %>

</div>

</div>
