<div class="section" id="development">

  <h3>Donec sed erat metus</h3>

  <p>felis risus, mollis nec tortor vitae, cursus facilisis orci. Curabitur risus risus, mollis ac aliquet sit amet, fermentum sed orci <dfn id="dfn-cern">CERN</dfn>, felis risus, mollis nec tortor vitae, cursus facilisis orci. Curabitur risus risus, mollis ac aliquet sit amet, fermentum sed orci. Donec id turpis in eros viverra rhoncus vel eget of the <dfn id="dfn-w3c">World Wide Web Consortium (W3C)</dfn>, at laoreet magna. Duis eget ex lacinia, gravida nisi ac, ultricies arcu. Vivamus quis nunc quis massa condimentum rhoncus sodales sit amet arcu. In vel leo a justo porta auctor. Vivamus quis mauris tortor. Nunc vitae maximus lectus. Phasellus et metus facilisis, convallis nibh nec, molestie est. Aenean a malesuada dolor. Fusce luctus dapibus dictum.</p>
</div>
</div>
