<div class="appendix" id="app1">

# About the Author

<p class="image"><img src="themes/svgs/rdt-avatar.svg" title="Headshot" alt="Author Headshot" /></p>

You can put information about your author, like a bio section, or upcoming works, etc.

</div>