/* Sample style sheet for boom!, the book microformat              */
/* written  by Hakon Wium Lie and Bert Bos, November 2005          */
/* You may reuse this style sheet for any purpose without any fees */

html { 
  margin: 0;
  font-family: Times, serif;
  font-size: 10pt;
}

body { 
  margin: 0 5% 0 5%;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: Times, serif;
  margin: 2em 0 0.5em 0;
  page-break-after: avoid;
} 

h1 {
  margin-top: 4em;
  font-size: 2.0em;
  font-weight: normal;
  text-align: center;
  page-break-before: right;
  page-break-after: always;
}

h2 { 
  margin-bottom: 2em;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

h3 { 
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  text-align: right;
}
q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

p { margin: 0 }
p + p { text-indent: 1.3em }
p.sidenote + p, p.caption, p.art { text-indent: 0 }

p.author {
  margin-top: 2em;
  text-indent: 0;
  text-align: right;
}

pre {  margin: 1em 1.3em; }

a { text-decoration: none; color: black }

h1::before {
  white-space: pre;
  margin-left: -2cm;
  font-size: 50%;
  content: url(../svgs/steam.png) "  \A";  /* ornaments */
}

/*
   A book consists of different types of sections. We propose to use
   DIV elements with these class names:

    frontcover
    halftitlepage: contains the title of the book
    titlepage: contains the title of the book, name of author(s) and publisher
    imprint: left page with copyright, publisher, library printing information
    dedication: right page with short dedication
    foreword: written by someone other than the author(s)
    toc: table of contents
    preface: preface, including acknowledgements
    chapter: each chapter is given its own DIV element
    references: contains list of references
    appendix: each appendix is given its own 
    bibliography
    glossary
    index
    colophon: describes how the book was produced
    backcover

   A book will use several of the types listed above, but few books
   will use all of them.
*/


/* page breaks */

/* page breaks */

div.frontcover, div.halftitlepage, div.titlepage, div.dedication, div.aboutmytitle, div.toc, div.preface, 
div.partone, div.part, div.chapter, div.chapterzero, div.epilogue, div.authorsnote, div.aboutauthor,
div.acknowledgements, div.foreword { page-break-before: right }
div.imprint, div.endorsements, div.contact { page-break-before: always }
div.reference, 
div.appendix, div.bibliography, div.glossary, div.index, div.colophon { 
  page-break-before: always;
  
}
div.backcover { page-break-before: left }


/* titlepage, halftitlepage */
div.titlepage, div.halftitlepage {text-align: center; margin: 1em 0 0 0;}
div.titlepage h1, div.halftitlepage h1 { margin-bottom: 3em; }
div.titlepage h2, div.halftitlepage h2 { font-size: 1em; margin: 2em 3em 1em 3em; color: #666; font-weight: 300; text-align: center; }
div.titlepage h3, div.halftitlepage h3 { font-size: 1em; margin-bottom: 2em; }
div.titlepage h4,
div.titlepage p, div.halftitlepage p { 
  font-size: 2em;
  text-align: center;
}

/* imprint */
div.imprint p {
  text-indent: 0;
  margin-bottom: 1em;
  text-align: center;
}

/* TOC */

ol.toc, ol.toc ol { 
  list-style-type: none;
  margin: 0; padding: 0;
}
ol.toc ol {
  margin-left: 1em;
  font-weight: normal;
}
ol.toc > li { 
  font-weight: bold;
  margin-bottom: 0.5em;
}


div.frontcover h1::before, div.titlepage h1::before, div.halftitlepage h1::before {
  content: normal;                  /* that is, none */
}

div.dedication p {
  font-style: italic;
  text-align: center;
  margin: 3em 0 0 0;
}
div.aboutauthor img {
  margin: 2em auto 0 3em;
  width: 3in;
  height: 2.72in;
}
/* parts */
div.part, div.partone {
  text-align: center;
}
div.partone h1 {
  text-transform: none;
  text-align: center;
}
div.part h1 {
  text-transform: none;
  text-align: center;
}
div.part, div.partone h2 {
  text-transform: none;
  text-align: center;
}
div.partone p {
  text-align: center;
}
div.part p {
  text-align: center;
}
div.tocPart { margin: .3em 0 0 0}
div.tocChapter { margin: 0 0 0 2em}
p.quote { margin: 2em 2em 0 2em;font-style: italic;}

/* index */

ol.index { 
  list-style-type: none;
  margin: 0; padding: 0;
}


span.element, span.attribute {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}
span.property { font-weight: bold }
code, span.css, span.value, span.declaration {
  font: 90% "Lucida Console", "Lucida Sans Typewriter", monospace;
}